* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background: #A8E393;
}
.container {
  width: 360px;
  height: 640px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}


.v1_119 {
  position: absolute;
  width: 621px;
  height: 1055px;
  left: -172px;
  top: -94px;
  
  background: #A8E393;
}


.v1_120 {
  position: absolute;
  width: 412px;
  height: 617px;
  left: -25px;
  top: -160px;
  border-radius: 50%;
  background: #669C53;
}
.v1_121 {
  width: 155px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 369px;
  left: 100px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_122 {
  width: 188px;
  height: 40px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 297px;
  left: 89px;
  overflow: hidden;
}
.v1_123 {
  width: 210px;
  height: 214px;
  background: rgba(249,253,255,1);
  opacity: 1;
  position: absolute;
  top: 277px;
  left: 80px;
  overflow: hidden;
}
.password_box {
  width: 188px;
  height: 40px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 89px;
  overflow: hidden;
}
.username_box {
  width: 188px;
  height: 40px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 297px;
  left: 89px;
  overflow: hidden;
}
.v1_126 {
  width: 155px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 369px;
  left: 100px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_127 {
  width: 155px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 100px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_132 {
  width: 189px;
  height: 49px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 429px;
  left: 89px;
  overflow: hidden;
}
.v1_133 {
  width: 189px;
  height: 49px;
  background: rgba(8,63,33,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_129 {
  position: absolute;
  width: 155px;
  height: 18px;
  left: 154px;
  top: 439px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.v1_130 {
  width: 169px;
  height: 167px;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 100px;
  border-radius: 50%;
}